<ion-view>
    <ion-content>
        <div class="cc-container cc-padding">
            <div class="cc-row">
                <div class="cc-border-bottom">
                    <p class="cc-size-title">
                        Développé par <a href="#" onclick="window.open('https://be.linkedin.com/in/dannywillems42', '_system', 'location=yes');">Danny Willems</a> avec Ionic.
                    </p>
                    <p class="cc-size-title">
                        Basé sur une idée de <a href="#" onclick="window.open('https://www.linkedin.com/in/benoitdebled/fr', '_system', 'location=yes');">Benoit Debled</a>.
                    </p>
                    <p class="cc-size-title">
                        Avec l'aide de <a href="#" onclick="window.open('https://www.behance.net/fabienpellegrinelli', '_system', 'location=yes');">Fabien Pellegrinelli</a> pour le design et la réalisation du logo.
                    </p>
                </div>
                <div>
                    <p class="cc-size-title">
                        Cette application est disponible en open-source <a href="#" onclick="window.open('https://github.com/dannywillems/customizecalendars.ionic', '_system', 'location=yes');">sur Github</a> sous license GPL v2.
                    </p>
                    <p class="cc-size-title">
                        Vous souhaitez contribuer au design ou à la traduction de l'application ? Visitez <a href="#" onclick="window.open('https://github.com/dannywillems/customizecalendars.ionic', '_system', 'location=yes');">la page du projet</a>
                    </p>
                    <p class="cc-size-title">
                        Si vous êtes satisfaits de l'application, vous pouvez faire un don de 0.99€ en achetant l'application.
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
