<ion-view class="has-header">
    <ion-content>
        <div class="cc-container cc-padding">
            <div class="cc-row">
                <p class="cc-theme-color cc-align-center cc-title">
                    {{calendarName}}
                </p>
                <div class="cc-padding-top cc-padding-bottom cc-border-bottom" ng-repeat="event in events">
                    <ion-toggle class="cc-size-title cc-item-toggle cc-black"
                                ng-model="event.synchronize">
                        Synchroniser cet événement
                    </ion-toggle>
                    <div>
                        <p ng-class="{ 'cc-black': event.synchronize, 'cc-grey': !event.synchronize }" class="cc-events-p cc-size-subtitle">
                            {{text_rename}}
                        </p>
                        <p ng-class="{ 'cc-theme-color': event.synchronize, 'cc-grey': !event.synchronize }" class="cc-events-p cc-theme-color cc-size-subtitle">
                            {{event.originalName}}
                        </p>
                        <p ng-class="{ 'cc-black': event.synchronize, 'cc-grey': !event.synchronize }" class="cc-events-p cc-input-label cc-no-padding cc-black cc-size-subtitle">
                            {{text_in}}
                        </p>
                        <input  ng-class="{ 'cc-theme-color': event.synchronize, 'cc-grey': !event.synchronize }"
                                ng-model="event.editedName"
                                ng-readonly="!event.synchronize"
                                placeHolder="{{text_newName}}"
                                type="text"
                                class="cc-size-subtitle"
                                value="{{event.editedName}}"
                            />
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
