<ion-view>
    <ion-content>
        <div class="cc-container">
            <div class="cc-row cc-padding">
                <p class="cc-theme-color cc-align-center cc-title cc-bold">
                    A venir
                </p>
                <div class="list cc-list">
                    <p class="item cc-item">
                        Choix de langues
                    </p>
                    <p class="item cc-item">
                        Personnaliser le design, les couleurs
                    </p>
                    <p class="item cc-item">
                        Synchronisation automatique
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
