$cc-theme: #A80039;

$cc-size-icon: 25px;
$cc-size-title: 18px;

$cc-theme-margin-left: 15px;
$cc-theme-margin-right: 15px;
$cc-theme-margin-top: 15px;
$cc-theme-margin-bottom: 15px;
$cc-theme-padding: 15px;
$cc-theme-padding-left: 15px;
$cc-theme-padding-right: 15px;
$cc-header-padding-top: 10px;
$cc-header-padding-bottom: 10px;

$cc-theme-cancel: red;
$cc-theme-ok: green;
$cc-theme-popup-button-text: white;
